/.idea


tim/*.sublime-project
tim/*.sublime-workspace
tim/results/
tim/data/
tim/checkpoints/
tim/deploy/
tim/logs/
tim/tmp/
tim/env/
tim/tim_github.sublime-project
tim/tim_github.sublime-workspace
tim/.gitignore
tim/__pycache__/
tim/.idea
tim/venv/


simple_shot/.idea/
simple_shot/results/inatural/
simple_shot/results/mini/
simple_shot/results/tiered/
simple_shot/src/utils/__pycache__/
simple_shot/tmp/
simple_shot/src/datasets/__pycache__/
simple_shot/src/models/__pycache__/
simple_shot/src/__pycache__/


laplacianshot/results/
laplacianshot/.idea/
laplacianshot/src/utils/__pycache__/
laplacianshot/src/__pycache__/
laplacianshot/src/datasets/__pycache__/
laplacianshot/src/models/__pycache__/


few-shot-master/.idea/
few-shot-master/LICENSE.txt
few-shot-master/README.md
few-shot-master/filelist/CUB/
few-shot-master/filelist/omniglot/
few-shot-master/filelist/emnist/
few-shot-master/filelist/miniImagenet/source/
few-shot-master/__pycache__/
few-shot-master/checkpoints/
few-shot-master/data/__pycache__/
few-shot-master/features/
few-shot-master/methods/__pycache__/
few-shot-master/.gitignore

